.configurator-table-container {
  padding-top: 18px;
  border-top: 1px solid rgb(2 96 232 / 25%);
}

.main-title {
  font-size: 30px;
  font-weight: 450;
}

.main-part {
  display: flex;
  margin-top: 31px;
  gap: 20px;
}

.row-title-container {
  white-space: nowrap;
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configurator-table {
  width: 80%;
}

.row {
  padding: 25px 19px;
  gap: 20px;
  border: 1px solid rgb(2 96 232 / 25%);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.row-product-count-text,
.row-product-adding-text {
  color: #9e9e9e;
  font-size: 20px;
  font-weight: 300;
}

.row-product-adding-text-plus {
  color: black;
  font-weight: 600;
  padding-left: 10px;
}

.row-product-container {
  display: flex;
  width: 100%;
  gap: 50px;
}

.row-product-adding-part {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.control-panel {
  border: 1px solid rgb(2 96 232 / 25%);
  padding: 15px 20px;
  height: max-content;
}

.buying-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: #0260e8;
  width: fill-available;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.buying-button-text,
.buying-button-cost {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.save-config-container,
.add-to-config-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save-config-container {
  margin-bottom: 15px;
}

.control-panel-button {
  background: #0260e8;
  padding: 10px 10px 6px;
  border-radius: 5px;
}