@font-face {
    font-family: "SourceSansProRegular";
    src: url("../assets/fonts/SourceSansPro-Regular.woff2");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-Regular.woff2");
}

body{
    transition: 0.2s;
}

.main-container{
    max-width: 90rem;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
}

button {
    all: unset;
    cursor: pointer;
    font-family: SourceSansProRegular;
}

h1 {
    all: unset;
    font-family: SourceSansProRegular;
    font-size:  40px;
    font-weight: 1000;
}

h2 {
    all: unset;
    font-family: Inter;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 1000;
    line-height: 32px
}

h3 {
    all: unset;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 1000;
    line-height: 24px;
}

a {
    all: unset;
    cursor: pointer;
    font-family: SourceSansProRegular;
    transition: 0.2s;
}

p {
    all: unset;
    font-family: SourceSansProRegular;
}

input {
    all: unset;
    font-family: SourceSansProRegular;
}

input[type="text"]
{
    font-family: SourceSansProRegular;
}

input::-webkit-input-placeholder {
    font-family: SourceSansProRegular;
}